*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

:root {
  --navy-color: #232d37;
  --light-blue-color: #4c8bb0;
  --gray-color: #f8f9fb;
  --highlight-color: #d0edf2;
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: var(--navy-color);
  color:lightgray;
}

header{
  padding: 10px 15px;
  display: flex;
  justify-content: space-around;
}

header .container{
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 1200px;
}

header a{
  text-decoration: none;
}

.logo{
  color: aliceblue;
  font-family: 'Rock Salt', cursive;
  font-size: 27px;
}

header nav{
  display: flex;
  align-items: center;
}

header ul{
  display: flex;
  list-style: none;
}

header nav ul li a{
  color: white;
  padding-left: 50px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 800;
  font-size:18px;
}

header nav ul li a:hover, .logo:hover{
  color: var(--light-blue-color);
}

.hero{
  display:flex;
  margin: 100px 0;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  height: 550px;
  padding:20px;
}

.hero img{
  height:100%;
  width: auto;
  border-radius: 50%;
  margin-right: 100px;
  box-shadow: 0px 0px 60px var(--light-blue-color);
  border: 5px solid var(--light-blue-color);
}

.hero .cta{
  display: flex;
  flex-direction: column;
  font-family: 'Ubuntu', sans-serif;
}

.hero h2 span{
  font-family: 'Rock Salt', cursive;
  color: var(--light-blue-color);
  font-size:70px;
  /* text-shadow: 0px 0px 50px var(--light-blue-color); */
}

#work{
  display:flex;
  justify-content: center;
}

.work-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}

.work-header .line{
  width:35%;
  height:2px;
  background-color: gray;
}

.work-header .header{
  width:20%;
  font-family: 'Ubuntu';
  font-weight: 500;
  font-size: 25px;
}

.project-container{
  display: flex;
  width:100%;
  max-width: 1000px;
  flex-wrap: wrap;
  text-align: center;
  margin-top:50px;
}

.project-container a{
  text-decoration: none;
  width:100%;
}

.project{
  flex: 40%;
  height:400px;
  background-color: var(--light-blue-color);
  margin: 20px;
  background-size: 100%;
  background-position: center;
  transition: all .5s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

.project-spotlight{
  flex:100%;
}

#lindabensoninteriors{
  background-image: url('../images/lindabensoninteriors.png');
}

#sprucerunlutheran{
  background-image: url('../images/sprucerunlutheran.png');
}

.project .info{
  width:100%;
  height:150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all .5s;
  font-family: 'Ubuntu', sans-serif;
  color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0.85);
}

.project .info h3{
  font-family: 'Rock Salt', 'Ubuntu', sans-serif;
  font-size: 30px;
  color: white;
  text-shadow: 0px 0px 70px gray;
}

.project .info p{
  color:rgba(0,0,0,0);
  transition: all .5s;
  height: 0;
}

.project .info h3, .project .info p{
  transition: all .5s;
}

.project-spotlight .info h3{
  font-size:40px;
  transition: all .5s;
}

.project:hover .info{
  background-color: rgba(0, 0, 0, 0.90);
  cursor: pointer;
  height: 100%;
}

.project:hover{
  background-size: 120%;
}

.project:hover p{
  color:white;
  height:auto;
}

.project:hover h3{
  color: var(--light-blue-color);
  text-shadow: 0px 0px 90px gray;
}

footer{
  display:flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 70px;
  font-family: 'Ubuntu', sans-serif;
  color: lightgray;
  font-weight: 500;
}

footer .social{
  display: flex;
  justify-content: center;
}

footer .social .icon{
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

footer .social .icon img{
  width: 40px;
}

footer .copyright{
  margin:40px 0;
}


@media screen and (max-width: 1050px) {
  header .container{
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align:center;
  }

  header h1{
    text-align: center;
    margin-bottom: 20px;
  }

  header nav{
    justify-content: space-around;
  }

  header nav ul{
    justify-content: space-evenly;
    width: 100%;
    margin: 10px 0 5px 0;
  }

  header nav ul li a{
    padding: 0px;
  }

  .hero{
    flex-direction: column;
  }

  .hero img{
    margin-right: 0;
    height: 450px;
  }

  .hero .cta{
    margin-top: 20px;
    text-align: center;
  }

  .project-container{
    justify-content: center;
  }

  .work-header{
    width: 80%;
  }

  .work-header .line{
    width:30%;
  }

  .work-header .header{
    width:40%;
  }
}

@media screen and (max-width: 575px) {
  .logo{
    font-size: 50px;
  }

  header nav ul{
    flex-direction: column;
    margin: 0;
  }

  header nav ul li{
    margin: 5px 0;
  }

  .hero{
    margin: 30px 0;
  }

  .hero img{
    width: 75%;
    height:auto;
  }

  .project{
    height:300px;
    flex: 100%;
    margin: 0 50px 50px 50px;
  }

  footer{
    margin-top:0;
  }

  .work-header{
    flex-direction: column;
    margin-bottom: 35px;
  }

  .work-header .line, .work-header .header{
    width: 100%;
    margin-bottom: 10px;
  }
}
