*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

:root {
  --navy-color: #232d37;
  --light-blue-color: #4c8bb0;
  --gray-color: #f8f9fb;
  --highlight-color: #d0edf2;
}

body{
  /* background-color: aliceblue; */
  background-color: var(--navy-color);
  color:lightgray;
}

header{
  padding: 10px 15px;
  display: flex;
  justify-content: space-around;
}

header .container{
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 1200px;
}

header a{
  text-decoration: none;
}

.logo{
  color: aliceblue;
  text-transform: uppercase;
  font-family: 'Rock Salt', cursive;
  font-size: 27px;
}

header nav{
  display: flex;
  align-items: center;
}

header ul{
  display: flex;
  list-style: none;
}

header nav ul li a{
  color: white;
  padding-left: 50px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

header nav ul li a:hover, .logo:hover{
  color: var(--light-blue-color);
}

.hero{
  display:flex;
  margin: 100px 0;
  justify-content: center;
  height:550px;
  align-items: center;
  font-weight: 500;
}

.hero img{
  height:100%;
  border-radius: 50%;
  margin-right: 100px;
}

.hero .cta{
  display: flex;
  flex-direction: column;
  font-family: 'Ubuntu', sans-serif;
}

.hero h2 span{
  font-family: 'Rock Salt', cursive;
  color: white;
  font-size:70px;
}

#work{
  display:flex;
  justify-content: center;
}

.project-container{
  display: flex;
  width:100%;
  max-width: 1000px;
  flex-wrap: wrap;
  text-align: center;
  margin-top:50px;
}

.project{
  flex: 40%;
  height:400px;
  /* border: 3px solid white; */
  background-color: var(--light-blue-color);
  margin: 20px;
  background-size: 100%;
  background-position: center;
  transition: all .5s;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.project-spotlight{
  flex:100%;
}

#lindabensoninteriors{
  background-image: url('../images/lindabensoninteriors.png');
}

#sprucerunlutheran{
  background-image: url('../images/sprucerunlutheran.png');
}

.project .info{
  height:auto;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all .5s;
  font-family: 'Ubuntu', sans-serif;
  color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0.85);
}

.project .info h3{
  font-family: 'Rock Salt', 'Ubuntu', sans-serif;
  font-size: 30px;
  /* color: var(--light-blue-color); */
  color: lightgray;
  text-shadow: 0px 0px 90px white;
}

.project .info p{
  color:rgba(0,0,0,0);
  transition: all .5s;
  height: 0;
}

.project .info h3, .project .info p{
  transition: all .5s;
}

.project-spotlight .info h3{
  font-size:40px;
  transition: all .5s;
}

.project:hover .info{
  background-color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  flex-grow: 1;
}

.project:hover{
  background-size: 120%;
}

.project .info:hover p{
  color:white;
  height:auto;
}

.project .info:hover h3{
  color: var(--light-blue-color);
}


@media screen and (max-width: 1050px) {
  header .container{
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align:center;
  }

  header h1{
    text-align: center;
  }

  header nav{
    justify-content: space-around;
  }

  header nav ul{
    justify-content: space-between;
    width: 100%;
    margin: 10px 0 5px 0;
  }

  header nav ul li a{
    padding: 0px;
  }
}

@media screen and (max-width: 575px) {
  .logo{
    font-size: 50px;
  }

  header nav ul{
    flex-direction: column;
    margin: 0;
  }

  header nav ul li{
    margin: 5px 0;
  }
}
